body {
    font-family: Arial, Helvetica, sans-serif;
}


a {
    color: black;
    text-decoration: none
}

a:hover {
    color: #3c78f2;
}

.navbar {
    background-color: #1a1a1a;
    padding: 20px;
}

#titulo-pagina {
    font-size: 15px;
}

#titulo-noticia {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#subtitulo {
    color: #282828;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

.card:hover #subtitulo {
    color: #0045d7;
}

.card:hover img {
    opacity: 0.8;
}

#subtitulo-imagem {
    padding-top: 280px;
    font-weight: bold;
}

.card:hover img {
    opacity: 0.8;
}

.card {
    border: none;
}

.noticias{
    padding-top: 100px; 
}
