body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: black;
    text-decoration: none
}

a:hover {
    color: #3c78f2;
}

.navbar {
    background-color: #1a1a1a;
    padding: 20px;

}

#titulo-pagina {
    font-size: 15px;
}

#titulo-noticia {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding-bottom: 80px;
}

#subtitulo {
    color: #282828;
    font-size: 26px;
    font-weight: bold;
    
}

.card:hover #subtitulo {
    color: #0045d7;
}

.card:hover img {
    opacity: 0.8;
}

.card:hover img {
    opacity: 0.8;
}

.card {
    border: none;
    margin-top: 0%;
    padding-top: 0%;
    text-align: start;
}

.noticias{
    padding-top: 100px; 
    width: 50%;
}
